<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUO056uecYi3URV16z3cqf_QkhHiCDxlo</string>
	<key>GCM_SENDER_ID</key>
	<string>1004276495341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>monahealth.ezs</string>
	<key>PROJECT_ID</key>
	<string>mona-health</string>
	<key>STORAGE_BUCKET</key>
	<string>mona-health.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004276495341:ios:2daa719e6eff6b46dd6de4</string>
	<key>DATABASE_URL</key>
	<string>https://mona-health-default-rtdb.firebaseio.com</string>
</dict>
</plist>